.Burger {
  margin-top: 15px;
}

.column {
  align-self: center;
  margin: 0 auto;
}

.column img {
  display: block;
}

#burgertop {
  margin: 0 auto;
  width: 21%;
  min-width: 250px;
}

#burgerbottom {
  margin: 0 auto;
  width: 21%;
  min-width: 250px;
}

#burgerpatty {
  margin: 0 auto;
  width: 21% !important;
  min-width: 250px;
}
#burgercheese {
  margin: 0 auto;
  width: 21% !important;
  min-width: 250px;
}
#burgerlettuce {
  margin: 0 auto;
  width: 21% !important;
  min-width: 250px;
}
